<div id="calculator">
    <input id="numberOne" type="number" />
    <select id="operation" asp-items="@Html.GetEnumSelectList<Operations>()"></select>
    <input id="numberTwo" type="number" />
    <button id="btnResult">=</button>
    <textarea id="result" readonly  ></textarea>
</div>

@section Scripts
{
    <script>
        $(function () {
            alert("From Scripts");

            $('#btnResult').click(function () {
                $.get("calculate",
                    {
                        one: $('#numberOne').val(),
                        two: $('#numberTwo').val(),
                        operation: $('#operation').val()

                        //one: 1,
                        //two: 2,
                        //operation: 42
                    },
                    function (data) {
                        $('#result').val(data);
                    })
            })
        })
    </script>
}
